<header>
  <div class="container">
    <h1 class="fw-bold"><%= image_tag "https://d26jy9fbi4q9wx.cloudfront.net/assets/logo-ae2beeecce25d711f577b08deb9adfc6c02b673ed106b8d6c3da0f1721d9da33.svg", width: "100" %> Le Wagon Voyage</h1>
  </div>
</header>
